body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 70%;
    background-color: white;
    padding: 20px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: navy;
    text-decoration: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    background-color: grey;
}

fieldset * {
    margin: 5px;
}

fieldset input {
    padding: 5px;
}

input[type=submit] {
    padding: 10px 20px;
    align-self: flex-end;
}

li.error {
    color: red;
}

#game {
    width: 800px;
}

#game-img {
    align-self: center;
}

#checkmark {
    width:15px;
    height:15px;
}

#title {
    display:flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
}

#comment-form {
    width: 500px;
    align-items: center;
    text-align: center;
}

#comment-form textarea {
    width: 300px;
    height: 100px;
}

#comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap : 30px
}

#white {
    background-color: white;
}

#game-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;;
    grid-gap : 30px
}

#game-list-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;;
    grid-gap : 30px
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}

h4 {
    text-align: center
}

p {
    text-align: center
}