<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_game') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter Game details</legend>

        {{ form.title.label }}
        {{ form.title }}

        <ul>
            {% for error in form.title.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.description.label }}
        {{ form.description }}

        <ul>
            {% for error in form.description.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.price.label }}
        {{ form.price }}

        <ul>
            {% for error in form.price.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.image.label }}
        {{ form.image }}

        <ul>
            {% for error in form.title.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.rating.label }}
        {{ form.rating }}

        {{ form.submit }}

    </fieldset>

</form>

{% endblock %}