<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
<div>
        {% if user.is_publisher %}

        <h2>{{ user.name }}</h2>
        <h4>Games published</h4>
        <div id="game-list">
        {% for game in user.games %}
        <div>
            <img src="/{{ game.image }}" width = "200" height="250" alt= "Game Image"/><br>
            <a href="/game_detail/{{ game.id }}">{{ game.title }}</a>
        </div>
        {% endfor %}
        </div>

        {% else %}
        <h2>{{ user.username }}</h2>
        <h4>Favorited Games</h4>
        <div id="game-list-2">
        {% for game in user.fav_games %}
        <div>
            <img src="/{{ game.image }}" width = "200" height="250" alt= "Game Image"/><br>
            <a href="/game_detail/{{ game.id }}">{{ game.title }}</a>
        </div>
        {% endfor %}
        </div>

        {% endif %}
</div>
{% endblock %}